<<<<<<< HEAD
/* Solution adapted from Simon de Sal */

h2 {
    margin: 0 auto 2rem auto;
=======
* body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightblue;
}
button {
    background-color: rgb(236, 236, 244);
    border-radius: 10px;
    /* color: rgb(7, 7, 7); */
    /* font-size:small; */
    margin-top: 2rem;
    padding: 10px;
} */
.lower {
    color: #c86733;
    margin-top: 7rem;
    font-size: 100px;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
>>>>>>> parent of a0724c7 (updated css)
}
  
body {
<<<<<<< HEAD
display: grid;
grid-template-columns: 1fr 2fr;
grid-template-rows: auto auto auto auto;
grid-gap: 1rem;

font-family: "Rubik", sans-serif;
font-size: 18px;
background-color: #1b69f9;
margin: 2rem;
}

.header__header {
color: white;
grid-column: span 3;
display: flex;
align-items: center;
margin: 2rem auto 3rem 0;
}

.header__header > h1 {
margin-right: 2rem;
font-size: 3em;
}

.header__city-name {
font-style: oblique;
font-size: 2rem;
=======
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: #F0E6F0;
    text-align: center;
}
header {
    min-height: 100px;
    color: rgb(16, 87, 132);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
}
.boxes {
    display: grid;
    justify-content: space-around;
    align-items: center;
    margin-left: 2rem;
    margin-right: 2rem;
}
.boxes2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1em;
}
.grid-container {
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: 3fr 1fr;
    color: black;
    grid-gap: 50px;
    justify-items: center;
    align-items: center;
    margin-left: 10rem;
    font-size: 2em;
    padding-top: 120px;
    padding-bottom: 1rem;
}
.grid-item {
    background-color:#C2C29A;
    border: 1px solid rgba(62, 75, 78, 0.383);
    border-radius: 30px;
    text-align: center;
    padding: 10px;
    font-size: 25px;
    width: 250px;
    height: 250px;
}
.grid-item-1 {
    background-color: rgba(98, 129, 117, 0.8);
    border: 1px solid rgba(62, 75, 78, 0.383);
    border-radius: 30px;
    text-align: center;
    padding: 50px;
    margin-left: 2rem;
    font-size: 25px;
    width: 800px;
    height: 250px;
}
footer {
    color: rgb(255, 255, 255);
    background-color: #c86733;
    font-size: larger;
    text-align: center;
    position:relative;
    bottom: 0;
}

button {
	width: 40px;
	height: 40px;
	font-size: 2em;
	line-height: 30px;
    text-align:center;
	border-radius: 10px;
	outline: none;
	border: none;
	color: #fff;
	cursor: pointer;
	background: transparent;
	box-shadow: inset -2px -2px 2px rgba(255,255,255,.2),
				inset 2px 5px 15px rgba(0,0,0,.5);
}

button:active{
	box-shadow: inset 2px 2px 2px rgba(255,255,255,.1),
				inset -2px -5px 15px rgba(0,0,0,.5);
>>>>>>> parent of a0724c7 (updated css)
}

.header__city-name::before,
.header__city-name::after {
content: "✨";
}

.temperature__section,
.sky__section,
.city-name__section {
border-radius: 8px;
padding: 2rem;
background-color: white;
}

.temperature__section {
grid-row: 2;
}

.temperature__section button {
    background-color: #1b69f9;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 10px
}

.sky__section {
grid-row: 3;
}

.city-name__section {
grid-row: 4;
}

.garden__section {
grid-row: 2 / span 3;
grid-column: 2;
text-align: center;
align-self: center;
}

.temperature__content {
display: flex;
flex-direction: row;
justify-content: space-around;
/* justify-content: center; */
}

#tempValue {
font-size: 3rem;
margin-left: 1.5rem;
/* padding-right: 1rem; */
/* margin-right: 1.5rem; */
}

.temperature__controls {
display: flex;
flex-direction: column;
align-items: center;
}

.garden__section > h2 {
color: white;
}

.garden__content {
min-height: 200px;
max-width: fit-content;
margin: auto;
padding: 2rem;

display: flex;
flex-direction: column;
justify-content: space-between;

border-radius: 8px;
font-size: 2em;
}

.city-name__reset-btn {
border: 0;
background-color: #1655cc;
color: white;
border-radius: 8px;
padding: 1rem;
font-family: "Rubik", sans-serif;
}

.red {
color: red;
}

.orange {
color: orange;
}

.yellow {
color: gold;
}

.yellow-green {
color: yellowgreen;
}

.green {
color: green;
}

.teal {
color: teal;
}

.cloudy {
background-color: lightgrey;
}

.sunny {
background-color: rgb(221, 255, 255);
}

.rainy {
background-color: lightblue;
}

.snowy {
background-color: lightsteelblue;
}
